.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(400px, 90vw);
    justify-self: center;
    height: 100vh;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

.main {
    width: 100%;
}

.aside,
.main > div {
    width: 100%;
    background: #1a1a1a;
    border-radius: 10px;
    border: #333 0.5px solid;
}

.main h1 {
    color: var(--accent-color);
    margin-bottom: 10px;

    &,
    + p {
        text-align: center;
    }

    + p {
        margin-bottom: 30px;
        text-wrap: balance;
    }
}

.main > div:first-of-type {
    padding: 25px;
    box-shadow: var(--shadow-top-left);
    display: flex;
    flex-direction: column;

    & p:first-of-type {
        margin-bottom: 10px;
    }

    & div {
        padding: 6px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: var(--shadow-top-left);
        border-radius: 5px;
        border: #333 0.5px solid;
        margin-bottom: 20px;
        min-height: 50px;
        background: #0a0a0a;

        & button {
            background: none;
            color: #dadada;
            padding: 7.5px;
            border-radius: 5px;
            border: #333 1px solid;
            display: flex;
            align-items: center;
            &.refreshing svg {
                transform: rotate(360deg);
                transition: transform 1s ease;
            }

            & svg {
                height: 19px;
                width: 19px;
            }
        }
    }

    & > button {
        cursor: pointer;
        box-shadow: var(--shadow-bottom-right);
        font-weight: 500;
        background: #333;
        padding: 10px;
        color: #fff;
        border-radius: 5px;
        transition: all 300ms ease;

        &:hover {
            background: #444;
        }

        &:disabled {
            opacity: 0.6;
            background: #333;
            cursor: not-allowed;
        }
    }
}

@keyframes overflow {
    100% {
        overflow-y: auto;
    }
}

@keyframes scrolling {
    0%,
    to {
        padding-right: 10px;
    }
}

.aside {
    box-shadow: var(--shadow-bottom-right);
    padding: 10px 20px;

    &:has(ul li) {
        padding: 15px 20px;
        p {
            margin-bottom: 10px;
        }
        ul {
            max-height: 150px;
            animation: scrolling forwards scroll(self),
                overflow 0s 1.5s forwards;
        }
    }

    p {
        margin-left: 5px;
    }

    & ul {
        animation: scrolling forwards scroll(self);
        transition: max-height 1.5s cubic-bezier(0.16, 1, 0.3, 1);
        overflow-y: hidden;
        max-height: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
            background: #0a0a0a;
            padding: 12.5px;
            border-radius: 7.5px;
            border: #333 0.5px solid;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
