.room {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

.room header,
.room footer {
    width: 100vw;
    padding: 15px;
    background: #111;
    display: flex;
    align-items: center;
}

.room ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

    p:first-of-type {
        display: flex;
        align-items: center;
        font-size: 17.5px;
        gap: 20px;
        margin-bottom: 7.5px;

        span {
            color: #434343;
            font-size: 14px;
        }

        &.self {
            color: var(--accent-color);
        }

        &.other {
            color: #00c853;
        }
    }
}

.room footer {
    margin-top: auto;
    display: flex;
    border-top: #333 1px solid;

    & form {
        display: flex;
        width: 100vw;
        gap: 10px;

        & input {
            padding: 10px;
            border-radius: 5px;
            border: #333 1px solid;
            background: #0a0a0a;
            width: 100%;
            color: #ddd;

            &:focus {
                border: #555 1px solid;
                outline: none;
            }
        }

        & button {
            background: #2a2a2a;
            color: #ddd;
            padding: 10px 20px;
            font-size: 14px;
            margin-left: auto;
            border-radius: 5px;
        }
    }
}

.room header {
    border-bottom: #333 1px solid;
    min-height: 85px;

    &:not(:has(> div:first-of-type > div > p)) > div:first-of-type {
        height: 100%;
    }

    &:not(:has(> div:first-of-type > div > p)) > div:nth-of-type(2),
    &:not(:has(> div:first-of-type > div > p)) > hr {
        display: none;
    }

    & > div:first-of-type {
        display: flex;
        flex-direction: column;

        & div {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;

            p {
                color: var(--accent-color);
                font-weight: 500;
                font-size: 17.5px;
            }

            button {
                background: #222;
                color: #ddd;
                font-size: 12px;
                padding: 6.5px 10px;
                border-radius: 5px;
                transition: background 0.2s ease-in-out;
                &:not(:disabled) {
                    cursor: pointer;
                    margin-right: 10.58px;
                }

                &:hover {
                    background: #333;
                }
            }
        }
    }

    hr {
        width: 1px;
        height: 50px;
        background: #8f8f8f;
        margin: 0 25px;
    }

    & div:nth-of-type(2) {
        p:last-child {
            color: var(--accent-color);
            font-weight: 500;
            font-size: 17.5px;

            &.red {
                color: #ff0000;
            }

            &.amber {
                color: #ff9800;
            }

            &.green {
                color: #00c853;
            }

            &.loading {
                visibility: hidden;
            }
        }
    }

    & div:last-of-type {
        display: flex;
        margin-left: auto;
        gap: 10px;
        align-items: center;

        a {
            color: #bcbcbc !important;
        }

        button {
            color: #ff2c2c;
        }

        button,
        a {
            cursor: pointer;
            background: #222;
            font-size: 15px;
            height: fit-content;
            display: flex;
            align-items: center;
            gap: 7.5px;
            padding: 10px;
            font-weight: 500;
            border-radius: 6.5px;
            transition: background 0.2s ease-in-out;

            svg {
                width: 20px;
                height: 20px;
            }

            &:hover {
                background: #333;
            }
        }
    }
}

@media (width < 750px) {
    .room header div:last-of-type {
        gap: 5px;
        & > button,
        & > a {
            p {
                display: none;
            }
        }
    }
}

@media (width > 600px) {
    .room header > div:nth-of-type(2) p:first-of-type {
        display: none;
    }
}

@media (width < 600px) {
    .room header {
        & > div:first-of-type {
            p {
                font-size: 15px;
            }
            div {
                p {
                    font-size: 16px;
                }
                button {
                    font-size: 10.5px;
                    padding: 5px 7.5px;
                }
            }
        }

        & > div:nth-of-type(2) p {
            font-size: 15px;
        }

        & > div:nth-of-type(2) p:nth-of-type(2) {
            display: none;
        }

        hr {
            margin: 0 10px;
        }
    }
}

@media (width< 400px) {
    .room header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto auto;

        & > div:nth-of-type(1) {
            grid-column: 1;
            grid-row: 1;
            /* align-items: center; */
            /* flex-direction: row; */
            /* gap: 5px; */

            div p {
                font-size: 15px;
            }
        }

        & > div:nth-of-type(2) {
            margin-top: 5px;
            grid-column: 1;
            display: flex;
            flex-direction: row;
            grid-row: 2;
            align-items: center;
            gap: 5px;

            p:nth-of-type(3) {
                font-size: 15px;
            }
        }

        & > div:last-of-type {
            grid-column: 3;
            grid-row: 1 / -1;
            margin-left: auto;
            flex-direction: column;
        }

        hr {
            display: none;
        }
    }
}
